<div class="container">
    <button go-back class="btn btn-warning btn-lg">Назад</button>
    <div  class="watch movie row">
        <h3>{{movie.title}}</h3>
        <drag-and-drop></drag-and-drop>
        <div class="info col-md-7 col-lg-7 col-sm-7 col-xs-7">
            <table class="table table-condensed">
                <tr>
                    <td>Режиссер:</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Страна:</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Бюджет:</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Жанр:</td>
                    <td></td>
                </tr>
                <tr>
                    <td>В главных ролях:</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Год:</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Рейтинг:</td>
                    <td></td>
                </tr>
            </table>
        </div>
    </div>
    <textarea  cols="100" rows="10"></textarea>

    <div class="row"><!-- vkSrc -->
        <input type="text"/>
    </div>
</div>